<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title and page.title != "Home" %}{{ page.title }} &raquo; {% endif %}{{ site.name }}</title>
	<meta name="viewport" content="width=device-width">

	<meta name="description" content="{{ site.meta.desc }}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">

</head>
<body>

	<header role="banner">
		<h1><a href="/">{{ site.name }}</a></h1>
	</header>
	
	<nav role="navigation">
		<ul class="inline-list">
			<li><a href="/"{% if page.url == "/index.html" %} class="current"{% endif %}>Home</a></li>
			<li><a href="/about/"{% if page.url contains "/about/" %} class="current"{% endif %}>About</a></li>
			<!-- <li><a href="/add-venue/">Add a Venue</a></li> -->
		</ul>
	</nav>
	
	<main role="main">
		{{ content }}
	</main>
	
	<footer role="contentinfo">
		<small><a href="/">Come Out and Dance</a> is lovingly maintained by <a href="http://webbower.com" target="_blank">Matt Bower</a></small>
	</footer>

</body>
</html>
